#map {
	width: 100%;
	height: 600px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

/*#info-box {
	margin-bottom: 80px;
}*/

nav {
	font-family: 'Special Elite', cursive;
}

a.brand-logo {
	font-size: 50px;
	padding: 3px;
}

#contact-head{
	text-align: center;
	padding: 20px;
}

#contact-text{
	font-size: 50px;
}


#submit-email{
	margin-bottom: 100px;
	position: relative;
	z-index: 0;
}

.search-wrapper { 
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    font-size: 16px;
    font-weight: 300;
    width: 50%;
    height: 45px;
    margin: 10% 25%;
    box-sizing: border-box;
    padding: 0 45px 0 15px;
    border: 0;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
	background-color: transparent;
	border-radius: 0;
	outline: none;
	box-shadow: none;
	-webkit-appearance: textfield;
	-webkit-writing-mode: horizontal-tb;	
}

.input-field input[type=search]:focus {
     border: 0;
     box-shadow: none;
   }

.prefix {
	padding-top: 5px;
}


#map{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#search:focus {
	border: hidden;
}

.card:hover{
	cursor: pointer;
}

#bill-box{
	height: 500px;
	overflow: scroll;
}

th {
	font-size: 15px;
/*	text-align: center;*/
}

/*td {
	text-align: center;
}*/

#vote-head{
	text-align: center;
}

